.explainer-page {
  background-image: linear-gradient(rgb(109,247,255), #000081 );
  width: 100%;
  height: 100%;
  color: black;

}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 20px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  
}

.anothercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.part {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.button {
  color: black;
  padding: 20px;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-size: large;
}

.hr {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  background-color: black;
  border: none;
}

.footer2 {
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: #000081;
  height: 30px;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.content2 {
  color: black;
  margin-top: 70px;
  text-decoration: none;
}

.content3 {
  padding: 20px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 10px;
  color: black;
  text-decoration: none !important;
}