
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .important-button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, filter 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center space-between;
    text-align: center;
  }
  
  .important-button:hover {
    background-color: rgb(46,107,161);
    color: white;
  }
  
  .icon {
    font-size: 1.1rem;
  }
  
  .important-button:hover .icon {
    filter: invert(100%);
  }


@media screen and (max-width: 601px) {
  .button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .important-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
  }
}
