.right-side-bubble {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .right-side-bubble .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right-side-bubble .screenshots {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .left-side-bubble {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .left-side-bubble .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left-side-bubble .screenshots {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .descriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
  }

  .title {
    color: white;
  }