.story {
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 10px;
  text-align: justify;
  padding: 20px;
  max-width: 800px;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container-big {
  padding-top: 60px;
  background-image: linear-gradient(rgb(109, 247, 255), #000081);
  min-height: 100vh;
}

.page-container-small {
  padding-top: 60px;
  background-image: linear-gradient(rgb(109, 247, 255), #000081);
  min-height: 100vh;
}

.link {
  color: black;
  text-decoration: none;

  padding: 20px;
}

.embed {
  min-width: 800px;
  /* min-width: 400px; */
  min-height: 90vh;
}