.story {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
  margin-bottom: 50px;
  max-width: 900px;
}

