.story {
  background-color: white;
  text-align: justify;
  padding: 20px;
  max-width: 800px;
}

.story-container {
  display: flex;
  justify-content: center;
}

.imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}