
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0, 197, 205), #729efd);
    padding: 40px;
  }
  
  .about-content {
    text-align: left;
    padding: 20px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }