/* INTRO CSS */

.intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgb(109, 247, 255), rgb(0, 197, 205));
    margin-top: 47px;
    position: relative;
    z-index: 1;
  }


.andale {
    font-family: "Courier New";
  }
  
  .left-side-intro {
    text-align: left;
    padding: 40px;
    max-width: 600px;
    position: relative;
    z-index: 2;
  }
  
  .right-side-intro {
    padding: 20px;
    position: relative;
    z-index: 2;
  }
  
  .dolphin {
    width: 100%;
    max-width: 150px;
    height: auto;
    align-items: center;
  }