.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: "Gill Sans";
  width: 100%;
}
* {
  box-sizing: border-box;
}


.top-of-page {
  max-width: 500px;
}
