.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: "Gill Sans";
  width: 100%;
}
* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #000081;
  color: white;
  width: 100%;
  padding: 10px;
  bottom: 0px;
  left: 0px;
}

.top-of-page {
  max-width: 500px;
}

.top-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  background-color: #6df7ff;
}

.navbar-first {
  display: flex;
}

.navbar-rest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.separator {
  height: 25px;
  width: 5px;
  margin: auto 0;
  background-color: #000081;
  justify-self: left;
  border-radius: 5px;
  margin: 0;
}
