.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans";
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgb(109, 247, 255), rgb(0, 197, 205));
  margin-top: 47px;
  width: 100%;
}

.andale {
  font-family: "Courier New";
}

.left-side-intro {
  text-align: left;
  padding: 20px;
  width: 500px;
}

.right-side-intro {
  padding: 20px;
}

.dolphin {
  width: 100%;
  max-width: 150px;
  height: auto;
  align-items: center;
}

.item1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#729efd, rgb(111, 101, 189));
  width: 100%;
}

.left-side-item1 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-item1 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.right-side-item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.item2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(111, 101, 189), rgb(89, 70, 178));
  width: 100%;
}

.left-side-item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.center-item2 {
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side-item2 {
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(89, 70, 178), rgb(51, 51, 161));
  width: 100%;
}

.left-side-item3 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-item3 {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.right-side-item3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.item4 {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(51, 51, 161), #000081);
}

.top-item4 {
  text-align: center;
}

.bottom-item4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.screenshots {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: max-content;
  width: max-content;
  margin: 10px;
  border-radius: 50%;
  padding: 10px;
  /*background-color: rgb(109,247,255, .5);*/
  background: radial-gradient(
    circle at 50% 120%,
    #81e8f6,
    #76deef 10%,
    #055194 80%,
    #062745 100%
  );
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.descriptions {
  max-width: 500px;
  text-align: justify;
  hyphens: auto;
}

.bubble {
  border-radius: 50%;
  width: 150px;
  height: 120px;
}

.bubbles {
  padding: 20px;
}

.bubble:hover {
  opacity: 1;
}

/* .overlay {
  position: absolute;
  height: 100%;
  width: 100vw;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
} */

@media screen and (min-width: 601px) {
  div.top-bar {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.top-bar {
    font-size: 10px;
  }
}

/* bubbles from https://codepen.io/diyorbek0309/pen/mdwbEve */

* {
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 100%;
  width: 90%;
  position: absolute;
}

.wrapper div {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  animation: 4s linear infinite;
}
div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}
.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 30%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 86%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 80%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 85%;
  left: 40%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 80%;
  left: 60%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 10%;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(0, 197, 205), #729efd);
}

.about-content {
  text-align: left;
  padding: 20px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.outer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left-item4 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.right-item4 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.top-item4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bot-item4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item4-content {
  margin: 10px;
  max-width: 220px;
  text-align: justify;
  hyphens: auto;
}

.needthisreactive {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  margin-right: 5px;
}
