/* StoryItem.css */
.story-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    max-width: 500px;
  }
  
  .story-item:hover {
    transform: translateY(-5px);
  }
  
  .story-item h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .story-item p {
    margin: 10px 0;
    color: #666;
  }
  
  .course-title {
    color: #999;
    font-style: italic;
  }
  
  .nostyle {
    text-decoration: none;
    color: inherit;
  }
  
  .date {
    color: black;
    font-size: 0.8em;
  }